services:
  app:
    env_file: .env
    image: mailer
    container_name: lf-mailer
    build:
      context: ${APP_PATH}
      dockerfile: ${APP_PATH}/docker/Dockerfile
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ${APP_PATH}:/app
    command: deno task start
